@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1f2937;
}
::-webkit-scrollbar-thumb {
    background: #047857;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #059669;
}